<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
{% block footer %}
<div class="container">
    <div id="bottom" class="footer" role="banner">
        <div class="container">
                <a class="btn btn-linkedin" icon><i class="icon-linkedin"></i></a>
                <a class="btn btn-github icon"><i class="icon-github" href=""></i></a>
                <a class="btn btn-twitter icon"><i class="icon-twitter" href=""></i></a>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>