<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>michaeldoranjr</title>
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('search', '1');
        google.setOnLoadCallback(function(){
          new google.search.CustomSearchControl().draw('cse');
        }, true);
    </script>

</head>
<body>
{% block nav %}
<div class="container">
    <div id="top" class="navbar navbar-static-top site-nav" role="banner">
        <div class="container">
            <nav class="navbar navbar-default site-nav" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">michaeldoranjr.com</a>
                </div>
                <div class="nav navbar-nav site-search site-nav" id="cse" ></div>
                <ul class="nav navbar-nav">
                    <li><a class="nav navbar-nav" href="">Blog</a></li>
                    <li><a class="nav navbar-nav" href="">Portfolio</a></li>
                    <li><a class="nav navbar-nav" href="">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>